@model PolyclinicProject.Администратор

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Администратор</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Фио)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фио)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Логин)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Логин)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пароль)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Пароль)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Номер_записи }) |
    @Html.ActionLink("Back to List", "Index")
</p>
