@model IEnumerable<PolyclinicProject.Администратор>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Фио)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Логин)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Фио)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Логин)
        </td>
        <td>
 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Номер_записи }) |
            @Html.ActionLink("Details", "Details", new { id=item.Номер_записи }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Номер_записи })
        </td>
    </tr>
}

</table>
