@model PolyclinicProject.Справочник_диагнозов

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Справочник_диагнозов</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Номер_болезни)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_болезни)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Описание)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Описание)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Номер_записи }) |
    @Html.ActionLink("Back to List", "Index")
</p>
