@model PolyclinicProject.Пациент

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Пациент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Номер_полиса)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_полиса)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Фио)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фио)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пароль)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Пароль)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Номер_участка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_участка)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Логин)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Логин)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
